.seat-container {
  margin-bottom: 20px;
}

.seat-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.seat-item {
  width: 40px;
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  cursor: pointer;
}

.unavailable-seat {
  background-color: #fc0404;
  cursor: not-allowed;
}

.seat-item.extra-legroom {
  background-color: #ffeb3b;
  margin-top: 40px;
}

.seat-item.exit-row {
  background-color: #ff5722;
}

.seat-gap {
  width: 40px; /* Suurem vahe */
}