<div class="container mt-4">
  <h1>Lennuplaan</h1>

  <!-- Filters -->
   <div class="row">
      <div class="col-md-3">
        Sihtkoht<input type="text" placeholder="Linn" [(ngModel)]="filters.destination" class="form-control mb-2">
      </div>
      <div class="col-md-3">
        Väljumispäev<input type="date" placeholder="Kuupäev" [(ngModel)]="filters.departureDate" class="form-control mb-2">
      </div>
      <div class="col-md-3">
        Hind kuni<input type="number" placeholder="Hind (€)" [(ngModel)]="filters.price" class="form-control mb-2">
      </div>
      <div class="col-md-2">
        Mugavus
        <select [(ngModel)]="selectedSeatClass" class="form-control mb-2">
          <option *ngFor="let count of ['FIRST_CLASS', 'BUSINESS', 'ECONOMY']" [ngValue]="count">{{ count }}</option>
        </select>
      </div>
      <div class="col-md-1">
        Reisijate arv
        <select [(ngModel)]="selectedPassengerCount" class="form-control mb-2">
          <option *ngFor="let count of [1,2,3,4,5]" [value]="count">{{ count }}</option>
        </select>
      </div>
      <p>
      <div class="col-12 text-center">
        <button class="btn btn-primary btn-default" (click)="applyFilters()">Rakenda</button>&nbsp;
        <button class="btn btn-warning btn-default" (click)="clearFilters()">Tühista filtrid</button>
      </div>
   </div>
   <br>

   <div class="table-container">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Kuupäev</th>
          <th>Lennufirma</th>
          <th>Sihtkoht</th>
          <th>Väljub</th>
          <th>Saabub</th>
          <th>Hind (€)</th>
          <th>Tegevus</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flight of filteredFlights">
          <td>{{ flight.date | date:'dd.MM.yyyy' }}</td>
          <td>{{ flight.airline }}</td>
          <td>{{ flight.destination }}</td>
          <td>{{ flight.departureTime.slice(0,5) }}</td>
          <td>{{ flight.arrivalTime | date:'HH:mm | dd.MM.yyyy' }}</td>
          <td>{{ flight.price }}</td>
          <td>
            <button class="btn btn-primary" (click)="selectFlight(flight)">Vali</button>
          </td>
        </tr>
      </tbody>
    </table>
   </div>

  <!-- Display the seat selection when the flight is selected -->
  <app-seat-selection
  *ngIf="flightIsSelected"
    [flight]="selectedFlight"
    [passengerCount]="selectedPassengerCount"
    [selectedSeatClass]="selectedSeatClass"
    (back)="clearFlightSelection()">
  </app-seat-selection>
</div>
