<div class="container mt-4">
  <h1>Minu broneeringud</h1>

  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Kuupäev</th>
          <th>Lennufirma</th>
          <th>Sihtkoht</th>
          <th>Väljumise aeg</th>
          <th>Saabumise aeg</th>
          <th>Istekohad</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableRows">
          <td>{{ row.date | date:'dd.MM.yyyy' }}</td>
          <td>{{ row.airline }}</td>
          <td>{{ row.arrivalAirport }}</td>
          <td>{{ row.departureTime.slice(0,5) }}</td>
          <td>{{ row.arrivalTime  | date:'HH:mm | dd.MM.yyyy' }}</td>
          <td>{{ row.seatNumbers }}</td>
          <td>
            <button class="btn btn-primary" (click)="cancelReservation(row.id)">Tühista broneering</button>
          </td>
        </tr>
      </tbody>
    </table>
   </div>
